/vendor
/public/storage
/node_modules
.env
/temp_dir
/.sey
/.idea
**/.DS_Store
# Windows image file caches
**/Thumbs.db
**/ehthumbs.db

# Folder config file
**/Desktop.ini

# Recycle Bin used on file shares
**/$RECYCLE.BIN/