.index-thumbnail {
	position: relative;
	overflow: hidden;
}

.index-caption {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(66, 139, 202, 0.75);
	width: 100%;
	height: 100%;
	padding: 2%;
	display: none;
	text-align: center;
	color: #fff !important;
	z-index: 2;
}

.index-caption a {
	color: #fff;
}